
  @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;500;700&display=swap');


html{
    background-color: white;
    font-family: "Monserrat",Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.about{
 background: rgb(107,232,242);
 background: linear-gradient(90deg, rgba(107,232,242,0) 0%, rgba(128,232,249,1) 47%);
 border-radius: 40px;
 width: 70%;
 height: 85vh;
 float:left;

}
h1{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20vh 0px 0px 10vw;
    margin: 15px;
    font-size: 3rem;
    font-weight: bolder;
}

.definition-bmi{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100px;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    letter-spacing: 1.1px;
    word-spacing: 1.8px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px 0px 0px 11vw;
    
}

.app{
    position:absolute;
    background-color: white;
    height: 55vh;
    width: 35vw;
    left: 50vw;
    top: 15vh;
    border: 2px solid white;
    border-radius: 25px;
    -webkit-box-shadow: 8px 8px 62px 0px rgba(128, 232, 249, 1);
    -moz-box-shadow: 8px 8px 62px 0px rgba(128, 232, 249, 1);
    box-shadow: 8px 8px 62px 0px rgba(128, 232, 249, 1);
}

h2{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0px 10px 30px ;
    font-family: "Montserrat"Arial, Helvetica, sans-serif;
}

.metric{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Metrical{
    transform: scale(2);
}
#Imperial{
    transform: scale(2);
}
.metric div{
    margin: 10px;
    padding: 0px 0px 0px 20px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.metric div p{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0px 0px 0px 30px ;
}


.text-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 35px 0px 35px 20px;

}

.welcome{
    background: #55dff5;
    width:80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 80px 80px 10px;
    position: relative;
    top: 60px;
    left: 60px;
    -webkit-box-shadow: inset 8px 8px 62px 0px rgba(38, 147, 243, 1);
    -moz-box-shadow: inset 8px 8px 62px 0px rgba(38, 147, 243, 1);
    box-shadow: inset 8px 8px 62px 0px rgba(38, 147, 243, 1);
}







